.secure {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.secure__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 30rem;
}
.secure__content img {
  width: 300px;
}
.secure__content h2 {
  width: 20rem;
  font-weight: 600;
}
.secure__content p {
  width: 21rem;
  color: rgb(190, 192, 194);
}
.secure__content button {
  background: linear-gradient(
    to right,
    var(--Teal_200_inside_call-to-action_gradient),
    var(--Cyan_500_inside_call-to-action_gradient)
  );
  border: none;
  border-radius: 50px;
  padding: 0.8rem 1rem;
  width: 15rem;
  color: var(--White);
  font-weight: 600;
  cursor: pointer;
}
/* .secure__content button:hover {
  background: linear-gradient(
    to right,
    var(--Teal_200_inside_call-to-action_gradient_hover),
    var(--White)
  );
} */

.container__secure {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.secure__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  width: 23rem;
}
.secure__features p {
  color: rgb(190, 192, 194);
}

@media (min-width: 768px) {
  .secure {
    padding: 4rem;
  }
  .secure__content {
    width: 40rem;
  }
  .secure__content img {
    width: 720px;
  }
  .secure__content h2 {
    width: 30rem;
    font-weight: 600;
  }
  .secure__content p {
    width: 30rem;
    color: rgb(190, 192, 194);
  }

  .container__secure {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 3rem;
  }
  .secure__features {
    width: 26rem;
  }
}
